@page
@model School.Web.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].StudItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enrollment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudItem.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
